<!DOCTYPE html>
<html>
  <head>
    <title>Vue.js github commits example</title>
    <script src="../../dist/vue.min.js"></script>
  </head>

  <body>
    <div id="demo">
      <div ref="dataId" data-id="1">{{age}}</div>
      <button @click="clickHandle">按钮</button>

      <component2 :type="'2'" v-model="age">
        <template v-slot:default>
          <div>按钮slot1</div>
        </template>
        <template v-slot:header="scope">
          <div>按钮 header{{scope.obj}}</div>
        </template>
        不在v-slot中的内容
      </component2>
      
      <keep-alive>
        <component3 v-if="index==1"></component3>
        <component4 v-if="index==2"></component4>
        <div>alive1</div>
        <div>alive2</div>
      </keep-alive>

      <component :is="name"></component>

      <keep-alive>
        <component :is="name"></component>
      </keep-alive>
    </div>
    <script src="mock.js"></script>
    <script src="app.js"></script>
  </body>
</html>
